body{
    background-color:#35231b;
    font-family: monospace;
}
section{
    margin: 2rem 3rem;
    padding: 2rem;
    border-radius: 8px;
    background-color: #514137;
    height: 200px;
    width: 200px;
    font-family: monospace;
}