body {
  background-color: #35231b;
  font-family: monospace;
}

section {
  margin: 2rem 3rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: #514137;
  height: 200px;
  width: 200px;
  align-items: center;
}
.price-card-container {
  display: flex;
  gap: 20px;
}
.price-card {
  background-color: #fff;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}
.price-card:hover {
  transform: scale(1.05);
}
.price-card h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}
.price-card .price {
  font-size: 2em;
  color: #4CAF50;
  margin: 10px 0;
}
.price-card p {
  color: #777;
  font-size: 1em;
  margin-bottom: 20px;
}
.price-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}
.price-card button:hover {
  background-color: #45a049;
}